@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v2/HI_OiY8KO6hCsQSoAPmtMYebvpU.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Quicksand", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Staatliches", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
button:focus {
  outline: none;
}
.container {
  height: 100vh;
  min-height: 300px;
  max-height: 1000px;
  max-width: 2000px;
  width: 100%;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.zipper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #938b81;
}
.zipper .left,
.zipper .right {
  height: 100vh;
  min-height: 300px;
  max-height: 1000px;
  width: calc(50% - (20vh / 2));
  transition: 0s;
  position: relative;
  z-index: 1;
}
@media (max-height: 300px) {
  .zipper .left,
  .zipper .right {
    width: calc(50% - 30px);
  }
}
.zipper .left button.tooth,
.zipper .right button.tooth {
  cursor: pointer;
}
.zipper .left .tooth,
.zipper .right .tooth {
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  width: 20vh;
  position: relative;
  bottom: 10vh;
  background-color: transparent;
  overflow: hidden;
  transition: 0.5s;
}
.zipper .left .tooth.real,
.zipper .right .tooth.real {
  background-color: #fcfcfa;
}
.zipper .left .tooth.real:hover .toothText,
.zipper .right .tooth.real:hover .toothText {
  top: calc(20vh / 8);
}
@media (max-height: 700px) {
  .zipper .left .tooth.real:hover .toothText,
  .zipper .right .tooth.real:hover .toothText {
    top: 0px;
  }
}
@media (max-height: 515px) {
  .zipper .left .tooth.real:hover .toothText,
  .zipper .right .tooth.real:hover .toothText {
    top: calc(-20vh / 4);
  }
}
@media (max-height: 420px) {
  .zipper .left .tooth.real:hover .toothText,
  .zipper .right .tooth.real:hover .toothText {
    top: calc(-20vh / 3.5);
  }
}
@media (max-height: 370px) {
  .zipper .left .tooth.real:hover .toothText,
  .zipper .right .tooth.real:hover .toothText {
    top: calc(20vh / 1.9);
  }
}
.zipper .left .tooth.real:hover .toothText p,
.zipper .right .tooth.real:hover .toothText p {
  visibility: visible;
  opacity: 100;
}
.zipper .left .tooth.real:hover i,
.zipper .right .tooth.real:hover i {
  bottom: calc(20vh / 3);
}
@media (max-height: 550px) {
  .zipper .left .tooth.real:hover i,
  .zipper .right .tooth.real:hover i {
    bottom: calc(20vh / 2.5);
  }
}
@media (max-height: 460px) {
  .zipper .left .tooth.real:hover i,
  .zipper .right .tooth.real:hover i {
    bottom: calc(20vh / 2);
  }
}
@media (max-height: 370px) {
  .zipper .left .tooth.real:hover i,
  .zipper .right .tooth.real:hover i {
    bottom: -2vh;
  }
}
.zipper .left .tooth .toothText,
.zipper .right .tooth .toothText {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: calc(20vh / 2);
  transition: 0.5s;
  width: 90%;
}
@media (max-height: 550px) {
  .zipper .left .tooth .toothText,
  .zipper .right .tooth .toothText {
    top: calc(20vh / 1.7);
  }
}
@media (max-height: 300px) {
  .zipper .left .tooth,
  .zipper .right .tooth {
    bottom: 30px;
    min-width: 60px;
    min-height: 60px;
  }
}
.zipper .left p,
.zipper .right p {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
@media (max-height: 630px) {
  .zipper .left p,
  .zipper .right p {
    font-size: 1.3rem;
  }
}
@media (max-height: 440px) {
  .zipper .left p,
  .zipper .right p {
    line-height: 1.2;
  }
}
@media (max-height: 400px) {
  .zipper .left p,
  .zipper .right p {
    font-size: 1.2rem;
  }
}
@media (max-height: 370px) {
  .zipper .left p,
  .zipper .right p {
    display: none;
  }
}
.zipper .left h2,
.zipper .right h2 {
  position: relative;
  transition: 0.5s;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}
.zipper .left h2.abrvH2,
.zipper .right h2.abrvH2 {
  display: none;
}
@media (max-height: 650px) {
  .zipper .left h2,
  .zipper .right h2 {
    font-size: 2.8rem;
  }
}
@media (max-height: 530px) {
  .zipper .left h2,
  .zipper .right h2 {
    font-size: 2.2rem;
  }
}
@media (max-height: 420px) {
  .zipper .left h2,
  .zipper .right h2 {
    font-size: 1.8rem;
  }
}
@media (max-height: 420px) {
  .zipper .left h2,
  .zipper .right h2 {
    font-size: 1.5rem;
  }
}
.zipper .left i,
.zipper .right i {
  position: relative;
  font-size: 3em;
  transition: 0.5s;
  bottom: -3.33333333vh;
}
@media (max-height: 440px) {
  .zipper .left i,
  .zipper .right i {
    bottom: -5px;
  }
}
@media (max-height: 420px) {
  .zipper .left i,
  .zipper .right i {
    bottom: -5px;
    font-size: 2.7rem;
  }
}
.content {
  cursor: pointer;
}
.zipper .left {
  background-image: url("../img/leftBG.jpg");
  background-size: 101% 101%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 0px;
}
.zipper .left.animate {
  right: 50%;
}
.zipper .left.animate .tooth {
  align-items: flex-end;
  background-color: #1a151c;
  color: #fcfcfa;
}
.zipper .left.animate .tooth .toothText {
  align-items: flex-end;
}
.zipper .left.animate .tooth .toothText h2 {
  display: none;
}
.zipper .left.animate .tooth .toothText h2.abrvH2 {
  display: block;
}
.zipper .left.animate .tooth:hover .toothText {
  top: calc(20vh / 2);
}
.zipper .left.animate .tooth:hover .toothText p {
  display: none;
}
.zipper .left.animate .tooth:hover i {
  bottom: -4vh;
}
.zipper .left .tooth.real {
  left: 20vh;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: black;
}
@media (max-height: 300px) {
  .zipper .left .tooth.real {
    left: 60px;
  }
}
.zipper .left .tooth.fake {
  left: 0;
  border-width: 0px 1px 0px 0;
  border-style: solid;
  border-color: black;
}
.zipper .right {
  background-image: url("../img/rightBG.jpg");
  background-size: 101% 101%;
  background-repeat: no-repeat;
  left: 0;
}
.zipper .right.animate {
  left: 50%;
}
.zipper .right.animate .tooth {
  align-items: flex-start;
  background-color: #1a151c;
  color: #fcfcfa;
}
.zipper .right.animate .tooth .toothText {
  align-items: flex-start;
}
.zipper .right.animate .tooth:hover .toothText {
  top: calc(20vh / 2);
}
.zipper .right.animate .tooth:hover .toothText p {
  display: none;
}
.zipper .right.animate .tooth:hover i {
  bottom: calc(-20vh / 5);
}
.zipper .right .tooth.real {
  right: 20vh;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: black;
}
@media (max-height: 300px) {
  .zipper .right .tooth.real {
    right: 60px;
  }
}
.zipper .right .tooth.fake {
  right: 0;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: black;
}
.ctaContainer {
  position: absolute;
  margin: auto;
  max-width: 2000px;
  top: 0;
  width: 120px;
  height: 60px;
  z-index: 2;
}
.ctaContainer .cta {
  position: relative;
  width: 100px;
  height: 40px;
  background-color: #b04446;
  border: 2px solid #fcfcfa;
  color: #fcfcfa;
  left: 5px;
  top: 7px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.homeContainer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 2000px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.homeContainer button.homeBtn {
  background-color: #fcfcfa;
  border-color: #b04446;
  color: #b04446;
  margin-left: 2%;
  font-size: 2rem;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
div.homeContainer button.homeBtn.animate {
  visibility: visible;
  opacity: 100;
}
.zipper .contentContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(20vh / 2);
  margin: auto;
  z-index: 0;
  max-width: 2000px;
  text-align: center;
}
.zipper .loadContent {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  max-width: calc(100% - 240px);
  background-color: #fcfcfa;
  border-radius: 10px;
  max-width: 750px;
  width: 75%;
  padding: 10px 0 10px 10px;
}
.zipper .loadContent section {
  padding: 40px 30px;
  width: 100%;
  border-style: dotted;
  border-color: #000;
  border-width: 0 0 5px 0;
}
.zipper .loadContent p {
  padding: 30px;
  max-width: 400px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 7px 7px rgba(50, 50, 50, 0.7);
  text-align: left;
}
.zipper .loadContent h2 {
  margin-bottom: 20px;
}
.aboutContainer {
  padding: 10px;
}
.aboutContainer section.aboutContent {
  border-width: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutContainer section.aboutContent img {
  border-radius: 10px;
  max-width: 150px;
}
.aboutContainer section.aboutContent2 p {
  margin: auto;
  padding: 30px;
  max-width: 600px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 7px 7px rgba(50, 50, 50, 0.7);
}
.skillsContainer {
  overflow-y: scroll;
  max-height: 87vh;
  width: 100%;
  padding-right: 10px;
}
.skillsContainer section.techIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-width: 5px 0;
  font-size: 5rem;
}
.skillsContainer section.skillsInfo h2 {
  text-decoration: underline;
}
.skillsContainer section.skillsInfo p {
  margin: auto;
  max-width: none;
  width: 90%;
}
.projectsContainer {
  padding: 10px;
}
.projectsContainer section.project {
  display: flex;
  justify-content: space-around;
}
.projectsContainer section.project div.projectInfo {
  text-align: left;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.projectsContainer section.project div.projectInfo .projectLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectsContainer section.project div.projectInfo a {
  font-size: 2rem;
  color: #000;
}
.projectsContainer section.project div.projectInfo img {
  display: block;
}
.projectsContainer section.project div.projectInfo h3 {
  font-size: 3rem;
}
.projectsContainer section.project div.projectInfo span {
  display: block;
  margin: 5px 0;
  font-size: 3rem;
}
.projectsContainer section.project p {
  width: 40%;
}
.socialContainer {
  text-align: center;
  padding: 10px;
}
.socialContainer section {
  border-width: 5px 0;
}
.socialContainer section h3 {
  font-size: 2rem;
}
.socialContainer section p {
  margin: auto;
  text-align: left;
}
.socialContainer section p span {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socialContainer section p span a {
  color: #000;
}
