.zipper {
  .contentContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    z-index: 0;
    max-width: @maxW;
  }

  .loadContent {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    max-width: calc(100% - 240px);
  }
}
