.loadContent {
  h2 {
    margin-bottom: 20px;
  }
  section.aboutContent {
    border-width: 5px 0;
    .flexAlign(space-around);

    img {
      border-radius: 10px;
      max-width: 150px;
    }
  }
  section.aboutContent2 {
    margin: 30px 0;
    p {
      margin: auto;
      padding: 30px;
      max-width: 600px;
      border: 1px solid #000;
      border-radius: 10px;
      box-shadow: 7px 7px rgba(50, 50, 50, 0.7);
    }
  }
}
