// Specific styles for the left Zipper.  General styles for both doors are in
// zipper.less

.zipper {
  // Styles for only the left half of the screen
  .left {
    background-image: url("../img/leftBG.jpg");
    background-size: 101% 101%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0px;

    &.animate {
      right: 50%;
      .tooth {
        align-items: flex-end;
        background-color: #1a151c;
        color: @white;

        .toothText {
          align-items: flex-end;

          h2 {
            display: none;
            &.abrvH2 {
              display: block;
            }
          }
        }

        &:hover {
          .toothText {
            top: calc(@size / 2);

            p {
              display: none;
            }
          }
          i {
            bottom: (-@size / 5);
          }
        } // button.tooth:hover
      } // button.tooth
    } // .animate

    // "Real" teeth stick out of their door
    .tooth.real {
      left: @size;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: black;

      // Stop re-positioning at a minimum height
      @media @minMedia {
        left: 60px;
      }
    }
    // "Fake" teeth draw a border in the indention
    // from the opposite door's "real" tooth
    .tooth.fake {
      left: 0;
      border-width: 0px 1px 0px 0;
      border-style: solid;
      border-color: black;
    }
  }
}
