// Specific styles for the left Zipper.  General styles for both doors are in
// zipper.less

.zipper {
  // Styles for only the left half of the screen
  .left {
    background-image: url("../img/leftBG.jpg");
    background-size: 101% 101%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0px;

    button.open {
      div.toothContent {
        .flexAlign(center, center);
        flex-direction: column;
        h2,
        p {
          display: none;
          font-size: 3.5vh;
          @media @minMedia {
            font-size: 10.5px;
          }
        }
        i {
          font-size: 3vh;
          transform: translate(8vh);
          @media @minMedia {
            transform: translate(24px);
            font-size: 9px;
          }
        }
      } // content div

      &:hover {
        div.toothContent {
          i {
            display: none;
          }
          h2 {
            display: block;
            //font-family: @regFont;
            transform: rotate(-90deg) translate(0px, 8.2vh);
            @media @minMedia {
              transform: rotate(-90deg) translate(0px, 24.6px);
            }
          }
        }
      }
    } // button.open

    &.animate {
      right: calc(50% + (@size / 3.2));
      @media @minMedia {
        right: calc(50% + 18.75px);
      }
    } // .animate

    // "Real" teeth stick out of their door
    .tooth.onZip {
      left: @size;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: black;
      //background-color: blue;

      // Stop re-positioning at a minimum height
      @media @minMedia {
        left: 60px;
      }
    }
    // "Fake" teeth draw a border in the indention
    // from the opposite door's "real" tooth
    .tooth.fake {
      left: 0;
      border-width: 0px 1px 0px 0;
      border-style: solid;
      border-color: black;
    }
  }
}
