// Specific styles for the right Zipper.  General styles for both doors are in
// zipper.less

.zipper {
  // Styles for the right half of the screen
  .right {
    background-image: url("../img/rightBG.jpg");
    background-size: 101% 101%;
    background-repeat: no-repeat;
    left: 0;

    &.animate {
      left: calc(50% + (@size / 3.2));
      @media @minMedia {
        left: calc(50% + 18.75px);
      }
      button.open {
        div.toothContent {
          .flexAlign(center, center);
          flex-direction: column;
          h2,
          p {
            display: none;
            font-size: 3.5vh;
            @media @minMedia {
              font-size: 10.5px;
            }
          }
          i {
            font-size: 3vh;
            transform: translate(-8vh);
            @media @minMedia {
              transform: translate(24px);
              font-size: 9px;
            }
          }
        } // content div

        &:hover {
          div.toothContent {
            i {
              display: none;
            }
            h2 {
              display: block;
              //font-family: @regFont;
              transform: rotate(90deg) translate(0px, 8.2vh);
              @media @minMedia {
                transform: rotate(90deg) translate(0px, 24.6px);
              }
            }
          }
        }
      } // button.open
    }
    // "Real" teeth stick out of their door
    .tooth.onZip {
      right: @size; // 1.5 * @size;
      border-width: 1px 0px 1px 1px;
      border-style: solid;
      border-color: black;

      @media @minMedia {
        right: 60px;
      }
    }
    // "Fake" teeth draw a border in the indention
    // from the opposite door's "real" tooth
    .tooth.fake {
      right: 0; // @size / 2;
      border-width: 0px 0px 0px 1px;
      border-style: solid;
      border-color: black;

      // @media @minMedia {
      //   left: 30px;
      // }
    }
  }
}
