//local vars
@h2Height: calc(100vh / 20);
@h2Margin: 1vh;

.zipper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: @bgColor;

  // The DIVS on each side of the screen that make up the two doors
  // Specific styles for the doors are in leftZip and rightZip
  .left,
  .right {
    height: 100vh;
    min-height: @minH;
    max-height: 1000px;
    width: calc(50% - (@size / 2));
    transition: 0s;
    position: relative;
    z-index: 1;

    @media @minMedia {
      width: calc(50% - 30px);
    }

    button.tooth {
      cursor: pointer;
      // Because Safari is the worst and likes margins here:
      margin: 0;

      div {
        width: 90%;
        position: absolute;
        transition: 0.5s;
        top: calc((@h2Height / 2) + (@h2Margin * 1.5));

        i {
          visibility: visible;
          opacity: 100;
          font-size: 6vh;
          transition: 0.5s;
        }

        h2 {
          &.abrvH2 {
            display: none;
          }
          margin-top: @h2Margin;
          font-size: 4.5vh;
          transition: 0.5s;
        }

        p {
          visibility: hidden;
          opacity: 0;
          font-size: 2vh;
          transition: 0.5s;
        }
      }

      &:hover {
        div {
          top: calc((@h2Height / 2) - (@size / 2.8));

          p {
            visibility: visible;
            opacity: 100;
          }

          i {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }
    // General styles for each "tooth", real and fake
    .tooth {
      min-height: @size;
      max-height: @size;
      width: @size;
      position: relative;
      bottom: @size / 2;
      background-color: transparent;
      overflow: hidden;

      // Stop moving/changing size of  teeth up and down with screen height
      @media @minMedia {
        bottom: 30px;
        min-width: 60px;
        min-height: 60px;
      }
    } // tooth
    .tooth.real {
      background-color: @toothBG;
    }

    h2,
    p,
    i {
      margin: 0;
      // Don't allow text to be selected
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -khtml-user-select: none;
    }
  } /// .left/.right
}
// Show cursor as pointed over content boxes
.content {
  cursor: pointer;
}
